#navbar {
	float: none;
	position: fixed;
	top: 5%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#navbar a {
	text-decoration: none;
	margin-right: 30px;
	margin-left: 30px;

}

/* #welcome-section {

}

#projects {

}

#contact {

}

#footer {

} */
