/* Importing the Nunito Sans font from Google Fonts. */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;1,300&display=swap');

body {
	background-color: #939dab;
	font-family: 'Nunito Sans', sans-serif, Arial, Helvetica, sans-serif;
	text-align: center;
	color: white;
	display: flex;
	flex-direction: column;
	margin: 0;
	width: 100%;
}

#navbar {
	float: none;
	position: fixed;
	top: 5%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#navbar a {
	text-decoration: none;
	color: white;
	margin-right: 30px;
	margin-left: 30px;
}

#welcome-section {
	height: 100vh;
	padding-top: 20%;
}

h1 {
	font-size: 64px;
}

h2 {
	font-size: 42px;
}

#projects {
	height: 100vh;
	padding-top: 5%;
}

#contact {
	display: flex;
	flex-direction: row;
	align-self: center;
	background-color: #324158;
	width: 940px;
	height: 631px;
	margin-bottom: 230px;
}

#contact h3 {
	font-size: 24px;
}

p {
	font-size: 15px;
}

input {
	text-align: left;
	border: 0px;
	margin: 7.5px;
}

input[type=text] {
	height: 40px;
	width: 319px;
}

input[type=email] {
	height: 40px;
	width: 319px;
}

input[name=Message] {
	height: 136px;
	width: 319px;
}

input[type=submit] {
	background-color: #00d646;
	color: white;
	font-size: 15px;
	text-align: center;
	height: 44px;
	width: 324px;
}

#contact img {
	height: 30px;
	width: 30px;
	padding-top: 35px;
}

#footer {
	background-color: #324158;
	height: 115px;
	width: 100%;
	font-size: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
}

@media (max-width: 460px) {
	h1 {
		font-size: medium;
	}

	#contact {
		height: 100vh;
		width: 90vw;
		margin-bottom: 180px;
		flex-direction: column;
	}

	/* form {
		padding-left: 0;
	} */

	#footer {
		height: 75px;
		font-size: 14px;
	}
}

@media (max-width: 800px) {
	#footer {
		height: 100px;
		width: 100vw;
	}
}
