/* Importing the Nunito Sans font from Google Fonts. */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;1,300&display=swap');

body {
	background-color: #939dab;
	font-family: 'Nunito Sans', sans-serif, Arial, Helvetica, sans-serif;
	color: white;
	display: flex;
	flex-direction: column;
	margin: 0;
	text-align: center;
}

#navbar {
	float: none;
	position: fixed;
	top: 5%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#navbar a {
	text-decoration: none;
	margin-right: 30px;
	margin-left: 30px;
	color: white;
}

#welcome-section {
	height: 100vh;
	padding-top: 20%;
}

/* h1 {
	font-size: 64px;
} */

#projects {
	height: 100vh;
	padding-top: 5%;
}

#contact {
	display: flex;
	align-self: center;
	background-color: #324158;
	width: 940px;
	height: 100vh; 
	/* 631px */
	margin-bottom: 230px;

}

form {
	padding-left: 50%;
}

input {
	border: 0px;
	text-align: left;
	margin: 7.5px;
}

input[type=text] {
	height: 40px;
	width: 319px;
}

input[type=email] {
	height: 40px;
	width: 319px;
}

input[name=Message] {
	height: 136px;
	width: 319px;
}

input[type=submit] {
	background-color: #00d646;
	color: white;
	font-size: 15px;
	text-align: center;
	height: 44px;
	width: 319px;
}

img {
	height: 30px;
	width: 30px;
}

#footer {
	background-color: #324158;
	height: 115px;
	width: auto;
	font-size: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (max-width: 480px) {

}
